body {
  overflow: hidden;
}

img {
  opacity: 0;
  filter: grayscale(100%);
  filter: gray;
  transition: all 1s;
}

img:hover {
  filter: none;
  transform: scale(1.1);
}

.background {
  z-index: -70;
  width: 100vw;
  height: 100vw;
  position: absolute;
  background-color: #1E1E1E;
}

p {
  margin-bottom: 25px;
  font-size: 96px;
  font-family: "Sansation_Bold";
  color: #FFFCFC;

}

.blinkingCircle {
  background-color: red;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.toCenter {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.tracker {
  width: 80vw;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  align-items: center;
}

p.miniLogo {
  margin-right: -7px;
  font-family: "Sansation_Light";
  margin-top: 120px;
  font-size: 19px;
  letter-spacing: 0.7em;
  color: #FF0000;
}

.slogan {
  width: 80vw;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
}

.concert, .send, .food, .piano {
  position: absolute;
}

.concert {
  left: -20%;
  top: 35%;
  width: 70%;
  transform: rotate(30deg);
}

.food {
  z-index: 1;
  right: -2%;
  top: -40%;
  width: 55%;
  transform: rotate(24deg);
}

.piano {
  z-index: 2;
  right: -20%;
  top: -5%;
  width: 50%;
  transform: rotate(-130deg);
}

.send {
  z-index: 3;
  right: -6%;
  top: -24%;
  width: 30%;
  transform: rotate(10deg);
}
